# redis-server - Redis Datastore Server
#
# Redis is a key value in memory persistent datastore

start on (local-filesystems and runlevel [2345])
stop on runlevel [016]
respawn
limit nofile 20000 65000
expect fork
pre-start script
mkdir -p /var/run/redis
chown redis:redis /var/run/redis
end script
exec start-stop-daemon --start --chuid redis:redis --pidfile /var/run/redis/redis{{num}}.pid --umask 007 --exec /usr/bin/redis-server -- /etc/redis/redis{{num}}.conf
